<a href="https://colab.research.google.com/github/mariagarnica/_mineria/blob/main/EJEMPLO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ejercicio 1**
Realiza una variable con tu matricula y realiza una secuencia

In [ ]:
a= int(input("Introduce tu matricula: ")) #Int es para numeros
b= str(input("Introduce tu nombre: "))    #str para alfanumerico

print(a,b)

Introduce tu matricula: 1851600
Introduce tu nombre: Maria Fernanda Garnica
1851600 Maria Fernanda Garnica

# **Ejercicio 2** 
Pidiendo dos numeros, hacer una calculadora con funcion de while

In [ ]:
print("A continuacion ingresa dos numeros para hacer un calculo")
a=int(input("Introduce el primer numero: "))
b=int(input("Introduce el segundo numero: "))

print(" 1 Suma   2 Resta   3 Division   4 Multiplicacion")
c=int(input("Elige el numero del calculo a realizar: "))

while c == 1:
  d= a+b
  print("El resultado de la suma", a, "+", b , "es: ",d)
  break

while c==2:
  d= a-b
  print("El resultado de la resta", a, "-", b , "es: ",d)
  break
while c==3:
  d= a/b
  print("El resultado de la division", a, "/", b , "es: ",d)
  break
while c== 4:
    d= a*b
    print("El resultado de la multiplicacion", a,"*",b,"es: ", d)
    break

A continuacion ingresa dos numeros para hacer un calculo
Introduce el primer numero: 25
Introduce el segundo numero: 5
 1 Suma   2 Resta   3 Division   4 Multiplicacion
Elige el numero del calculo a realizar: 4
El resultado de la multiplicacion 25 * 5 es:  125

# **Ejercicio 3** 
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:

for i in range(3,33,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
def sum_numbers(num1, num2):
    total=0
    for numbers in range(3,33,3):
        total+=numbers
    return (total)
print("La suma de los numeros del 3 al 30 es: ",total)

La suma de los numeros del 3 al 30 es:  165

# **Ejercicio 4** 
Con if else revisar si es par o impar

In [ ]:
num = input("Introduce un número: ")
num = int(num)
if num == 0:
    print ("El número", num, "es par.")
elif num%2 == 0:
    print ("El numero",num, "es par")
else:
    print ("El numero", num,"es impar")

Introduce un número: 9
El numero 9 es impar

Revisar si es o no es numero primo

In [ ]:
def primo(numero):
    if numero == 0 or numero == 1 or numero == 4:
        return False
    for x in range(2, int(numero/2)):
        if numero % x == 0:
            return False
    return True
numero = int(input("Ingresa un número: "))
es_primo = primo(numero)
if es_primo:
	print("El numero es primo")
else:
	print("El numero NO es primo")

Ingresa un número: 9
El numero NO es primo

# **Tuplas**
**1.** Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [ ]:
type(True)
print("La variable True es ",type(True))

x = 1
print("La variable x= ", x, "es ",type(x))

y= 2.1
print("La variable y= ", y, "es ",type(y))

z= 10.3j
print("La variable z= ", z, "es ",type(z))

La variable True es  <class 'bool'>
La variable x=  1 es  <class 'int'>
La variable y=  2.1 es  <class 'float'>
La variable z=  10.3j es  <class 'complex'>

**2.** Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [ ]:
a=(1,2,3,4,5,6,7,8,9)

print("El numero mayor de la tupla es: ", max(a))
print("El numero menor de la tupla es: ", min(a))

El numero mayor de la tupla es:  9
El numero menor de la tupla es:  1

**3.** Añadir 3 valores de string a la tupla.

In [ ]:
a = (1, 2, 3)
print("Tupla 1: ", a)
b = ("a","b","c")
print("Tupla 2: ", b)
tuple_c = a + b

print("Resultado de la suba de las tuplas a + b: ",tuple_c)

Tupla 1:  (1, 2, 3)
Tupla 2:  ('a', 'b', 'c')
Resultado de la suba de las tuplas a+b:  (1, 2, 3, 'a', 'b', 'c')

**4.** Verificar si una variable existe dentro de la tupla.

In [ ]:
a = ("perro", "gato", "conejo")
if "perro" in a: 
    print("perro  existe dentro de tupla")

perro  existe dentro de tupla

# **Listas**
**1.** Crear una lista con 40 elementos aleatorios enteros.

In [ ]:
import random
def listaAleatorios(n):
      lista = [0]  * n
      for i in range(n):
          lista[i] = random.random()
      return lista

n= int(input("Ingrese cuantos numeros aleatorios desea obtener: "))
aleatorios=listaAleatorios(n)
print(aleatorios)

Ingrese cuantos numeros aleatorios desea obtener: 40
[0.9697954943001129, 0.199520482701931, 0.8973778365707178, 0.460296134066128, 0.6549584167900723, 0.9001402171215571, 0.7742038888794409, 0.7880888516618004, 0.9204191114232708, 0.5044484957324639, 0.6698942043206952, 0.762968488037988, 0.7866495667524261, 0.0374277720233388, 0.8808198417308175, 0.3492718630660696, 0.16632570529802426, 0.08106001506095128, 0.8158531051779707, 0.3395754116848869, 0.3751444418346941, 0.21709701738424458, 0.47197902044543694, 0.42771526521607195, 0.9920413702620988, 0.2277329387111463, 0.9183827760325665, 0.10229487604699017, 0.09567008962258838, 0.7342031378327405, 0.413705512633461, 0.48584843867870586, 0.9865277781242052, 0.3288081455873335, 0.42197628154061906, 0.09418488116791646, 0.2401401291359061, 0.4853602264443284, 0.007078666871888628, 0.48114081136504183]

**2.** Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.

In [ ]:
import random
list1=[]
i=1
while i<=10:
  lista.append(random.randint(1,10))
  i=i+1
class f: #Función
  def parimp(Agregar):
    pares=[] 
    impares=[] 
    j=0
    while j<=len(Agregar)-1:
      if Agregar[j]%2==0:
        pares.append(Agregar[j])
      else:
        impares.append(Agregar[j])
      j=j+1
    print("\n impares: ",impares)
    print("\n pares: ",pares)

f.parimp(lista)

 impares:  [49, 91, 23, 31, 25, 95, 85, 47, 69, 79, 93, 17, 89, 61, 61, 47, 77, 73, 25, 7, 13, 21, 1, 11, 11, 15, 11, 7, 5, 7, 11, 1, 3, 3, 7, 5, 3, 5, 7, 7, 3, 5, 5, 7, 5, 7, 9, 9, 1, 3, 1, 5, 7, 7, 1, 1, 5, 1, 9, 1, 5, 5, 7, 9, 5, 5]

 pares:  [94, 66, 50, 76, 58, 30, 32, 98, 66, 98, 56, 38, 18, 82, 96, 24, 70, 88, 14, 6, 20, 12, 58, 32, 100, 12, 24, 84, 12, 72, 68, 12, 20, 8, 10, 22, 6, 2, 4, 4, 6, 4, 8, 4, 10, 8, 4, 6, 6, 4, 4, 10, 6, 10, 2, 4, 4, 10, 8, 6, 4, 6, 10, 8]

**3.** Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.

NameError: ignored

#**Diccionarios**

**1.** Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.

In [ ]:
a={'Alejandro':10,'Miranda':20,'Valeria':37,'Juan':19,'Marco':12,'Sebastian':38}
print(a)

{'Alejandro': 10, 'Miranda': 20, 'Valeria': 37, 'Juan': 19, 'Marco': 12, 'Sebastian': 38}

**2** Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [ ]:
edades=list(a.values())
edades.sort()
print(edades)

[10, 12, 19, 20, 37, 38]

**3.** Usando el diccionario y un loop, imprimir solo los nombres.

In [ ]:
nombres=list(a.keys())
for i in range(0,len(nombres)):
  print(nombres[i])

Alejandro
Miranda
Valeria
Juan
Marco
Sebastian

**4.** Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [ ]:
a['Maria']=21
a['Norma']=54
print(a)

{'Alejandro': 10, 'Miranda': 20, 'Valeria': 37, 'Juan': 19, 'Marco': 12, 'Sebastian': 38, 'Maria': 21, 'Norma': 54}

# **Set**

**1.** Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
a = set()
for i in range(100):
  a.add(random.randint(1,25))

print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}

**2.** Comprueba la longitud de tu set.

In [ ]:
len(a)

25

**3.** Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
b=[random.randint(1,5) for _ in range(5)]
for i in range(0,5):
  if b[i] in a:
    print("El elemento ",b[i], "se encuentra en el conjunto")

El elemento  2 se encuentra en el conjunto
El elemento  3 se encuentra en el conjunto
El elemento  1 se encuentra en el conjunto
El elemento  4 se encuentra en el conjunto
El elemento  1 se encuentra en el conjunto

In [ ]:
 print("El conjunto es: ",b)

El conjunto es:  [2, 3, 1, 4, 1]